
.ipynb_checkpoints/parse_gender_data-checkpoint.ipynb
.ipynb_checkpoints/pipeline-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/test-checkpoint.ipynb
assets/.ipynb_checkpoints/first_names-checkpoint.txt
assets/.ipynb_checkpoints/man_pattern-checkpoint.txt
assets/.ipynb_checkpoints/spousal_pattern-checkpoint.txt
assets/.ipynb_checkpoints/woman_pattern-checkpoint.txt
data/.ipynb_checkpoints/name_data-checkpoint.txt
data/.ipynb_checkpoints/nam_dict-checkpoint.txt
notebooks/.ipynb_checkpoints/military_rank_scrape-checkpoint.ipynb
notebooks/.ipynb_checkpoints/parse_gender_data-checkpoint.ipynb
notebooks/.ipynb_checkpoints/pipeline-checkpoint.ipynb
notebooks/.ipynb_checkpoints/test-checkpoint.ipynb
notebooks/.ipynb_checkpoints/test_pipeline-checkpoint.ipynb
models/crosslingual-coreference/minilm/model.tar.gz
.ipynb_checkpoints/run_pipeline-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb
coref-spanbert-large-2021.03.10.tar.gz
__pycache__/setup.cpython-39.pyc
